ROST_AI_MODEL_DIR=models/best_openvino_model
ROST_AI_ATTACHMENTS_ROOT=/Users/sergey.panicev/PyProjects/rost/files/doc_attachments
ROST_AI_UPLOADS_ROOT=runtime/uploads
ROST_AI_TASK=segment
ROST_AI_IMAGE_SIZE=1280
ROST_AI_DEFAULT_CONF=0.25
ROST_AI_DEFAULT_IOU=0.45
